<%- include('../partials/header.ejs')%>

    <main>
        <!-- include later: method="post" enctype="multipart/form-data" -->
        <form class="form-margin" action="/stories" method="POST" enctype="multipart/form-data"> 

            <h1 class="mb-3 d-flex justify-content-center">New Event</h1>
            <div class="mb-3">

                <label for="category" class="form-label fw-bold">Category</label>
                <select class="form-select category" id="category" name="category" aria-label="Category drop down list selection" required>
                    <option selected value="" disabled selected>--Select a Category--</option>
                    <option value="Music Talk">Music Talk</option>
                    <option value="Meet Up">Meet Up</option>
                    <option value="Reharsal">Reharsal</option>
                    <option value="Song Writing">Song Writing</option>
                    <option value="Try Outs">Try Outs</option>
                    <option value="Others">Others</option>   
                </select>
            </div>

            <div class="mb-3">
              <label for="title" class="form-label fw-bold">Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="add title of event" aria-describedby="title" required>
            </div>

            <div class="mb-3">
                <label for="host" class="form-label fw-bold">Host</label>
                <input type="text" class="form-control" id="host" name="host" placeholder="add host(s)" aria-describedby="host" required>
              </div>

            <div class="mb-3">
                <label for="details" class="form-label fw-bold">Details</label>
                <textarea class="form-control" id="details" name="details" placeholder="add description of event" aria-describedby="details" rows="5" required></textarea>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label fw-bold">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="add location of event" aria-describedby="location" required>
            </div>

            <div class="mb-3">
                <label for="startDateTime" class="form-label fw-bold">Start Date/Time</label>
                <input type="datetime-local" class="form-control" id="startDateTime" name="startDateTime" aria-describedby="startDateTime" required>
            </div>

            <div class="mb-3">
                <label for="endDateTime" class="form-label fw-bold">End Date/Time</label>
                <input type="datetime-local" class="form-control" id="endDateTime" name="endDateTime" aria-describedby="endDateTime" required>
            </div>

            <!-- https://getbootstrap.com/docs/5.0/forms/form-control/ -->
            <div class="mb-3">
                <label for="image" class="form-label fw-bold">Upload Image</label>
                <input class="form-control image-upload" type="file" id="image" name="image" accept="image/png, image/jpg, image/jpeg" aria-describedby="image" required> <!--Can add 'multiple' attribute if needed later-->
            </div>
            
            <!-- https://getbootstrap.com/docs/5.0/components/buttons/ -->
            <div class="d-grid gap-2 col-12 mx-auto">
                <button class="btn btn-primary" type="submit" value="submit">Submit</button>
            </div>
        </form>
    </main>

<%- include('../partials/footer.ejs') %>