<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- From Bootstrap website (https://getbootstrap.com/docs/5.0/getting-started/introduction/ ) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/custom.css">

    <!-- From Font Awesome (https://cdnjs.com/libraries/font-awesome) for social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <title>Musicians Meetup - Home Page</title>
</head>

<body>
    <header>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/img-musician-icon/musician-icon.png" alt="musician-icon" width="100" class="img-fluid">
                </a>

                <a class="text-dark text-decoration-none h1 fw-bold display-4" href="/">Musicians Meetup</a>

                <!-- Drop down button appears with Navbar during responsive -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <!-- if there is NO user -->
                        <!-- 'user' refers to the res.locals.user in app.js (line 40-52) -->
                        <% if(!user) { %>
                        
                        <!-- display Sign-Up & Login tabs -->
                        <li class="nav-item">
                            <a class="nav-link" href="/users/new">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>

                        <!-- if user exist -->
                        <% } else { %>                

                        <!-- display Create-New-Event, Profile, Logout tabs -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/events/new">New Event</a>
                        </li>
                            <% if(user && user.firstName && user.firstName.endsWith('s')) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/profile"><%= user.firstName %>' Profile</a>
                                </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/profile"><%= user.firstName %>'s Profile</a>
                                </li>
                            <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                        <% } %>

                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Bread Crumb -->
        <nav class="bg-info" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/events" class="text-decoration-none">Events</a></li>
            </ol>
        </nav>
    </header>

    <!-- check if error messages exist  -->
    <% if(errorMessages.length > 0) { %>
        <!-- if so, print out messages with close (x) button -->
        <div class="container">
            <% errorMessages.forEach(message => { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }); %>
        </div>
    <% } %>

    <!-- check if success messages exist -->
    <% if(successMessages.length > 0) { %>
        <!-- if so, print out messages with close (x) button -->
        <div class="container">
            <% successMessages.forEach(message => { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }); %>
        </div>
    <% } %>