/* Front size for navbar */
header nav ul li a{
    font-weight: bold;
}

/* Font size for breadcrumb*/
body header nav ol li a{
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 25px;
}

/* Homepage header/paragraph */
.welcome, .music-talk-edgeBetty{
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 200px;
}

/* Form margin */
.form-margin{
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 25%;
}

/* Marin */
.categories-of-event{
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 15%;
}
