/* Font size for breadcrumb*/
header nav ol li a{
    font-weight: bold;
    color: black;
    font-size: 20px;
}

body header nav ol li a {
    padding: 25px;
}

.welcome {
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 200px;
}