<%- include('./partials/header.ejs')%>
  
    <main>
        <div class="index-main-margin" id="index-main-margin">
            <h1 class="fw-bold display-3 d-flex justify-content-center pt-5">Our Story</h1><br>


            <p class="d-flex justify-content-center h5">Musicians Meetup is a social media platform for hosting and organizing in-person and virtual activities, gatherings, and events for people and communities of similar interests, hobbies, and professions.</p><br>

            
        </div>
    </main>

<%- include('./partials/footer.ejs') %>