<%- include('./partials/header.ejs')%>
  
    <main>
        <div class="index-main-margin" id="index-main-margin">
            <h1 class="fw-bold display-3 d-flex justify-content-center pt-5">Contact Us</h1><br><br>

            <p class="d-flex justify-content-center h5">Send us an email and we'll get back to you as soon as possible. </p>
            <p class="d-flex justify-content-center h5"><a href=" mailto:musician_contact@musicansmeetup.com contact-us-email"> musicians_contact@musiciansmeetup.com</a> </p>

        </div>
    </main>

<%- include('./partials/footer.ejs') %>