<%- include('./partials/header.ejs')%>

    <main>
        <div class="event-main-margin" id="event-main-margin">
            <h1>Music Talk with Chris and Lauren</h1>
            <img src="./img_musicians/chris-and-wife.jpg" alt="Chris-and-wife" width="400" class="img-fluid"> 
            
            <br><br>
            <div class="event-highlights">
                <ul class="list-unstyled">
                    <li><span class="fw-bold">Host:</span> Chris and Lauren <br><br> </li>
                    <li><span class="fw-bold">Dates and Time:</span> Friday, September 29, 2023 and Saturday, September 30, 2023, @ 6pm - 7pm <br><br> </li>
                    <li><span class="fw-bold">Location:</span> Music Center Room 101, 2319 Wellesley Ave., Charlotte, NC 28207 <br><br> </li>
                    <li><span class="fw-bold">Details:</span> Come join our Music Talk with Chris and Lauren. Chris and Lauren, who are happyily
                    married, graudated from the University of North Carolina, Charlottle, with their Bachelors of Arts in Music Performace. 
                    Chris and Laruen has been playing on the road for the last five years and now they are back to shared with everyone their 
                    music experiences.</li> 
                </ul>

                <br>

                <button type="button" class="btn btn-success">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
            <br>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>

