<%- include('./partials/header.ejs')%>

    <main>
        <h1 class="fw-bold display-5 d-flex justify-content-center">Music Talk</h1><br>  

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand d-flex justify-content-center" href="event.html"> <img src="./img_musicians/chris-and-wife.jpg" alt="musician-and-wife" width="400" class="img-fluid rounded"> </a>
                    <p class="text-center">With Chris and Lauren <br>
                    Monday, September 29, 2023 & Tuesday, September 30, 2023 <br>
                    At 6pm -7pm</p><br><br>  
                </div>

                <div class="col">
                    <a class="navbar-brand d-flex justify-content-center" href="event.html"> <img src="./img_musicians/danny-and-wife.jpg" alt="musician-and-wife" width="400" class="img-fluid rounded"></a>
                    <p class="text-center">With Danny and Leyicet <br>
                    Saturday, October 14, 2023 & Sunday, October 15, 2023 <br>
                    At 6pm - 7pm</p><br><br>
                </div>

                <div class="col">
                    <a class="navbar-brand d-flex justify-content-center" href="event.html"> <img src="./img_musicians/Pat-Barrett.jpg" alt="musician-and-wife" width="400" class="img-fluid rounded"></a>
                    <p class="text-center">With Pat Barret <br>  
                    Monday Novemeber 20, 2023 & Tuesday, November 21, 2023 <br>
                    At 6pm - 7pm</p>
                </div>
            </div>
        </div>

        <br><br>

        <h1 class="fw-bold display-5 d-flex justify-content-center">Try Outs</h1><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand d-flex justify-content-center" href="event.html"><img src="./img-musicians-tryouts/eleveation.png" alt="musican-icon" width="400" class="img-fluid rounded"></a>
                    <p class="text-center">With Eleveation Worship <br>
                    Friday, September 15, 2023 & Saturday, September 16, 2023 <br>
                    At 6pm - 7pm</p><br><br> 
                </div>

                <div class="col">
                    <a class="navbar-brand d-flex justify-content-center" href="event.html"><img src="./img-musicians-tryouts/casting_crowns.jpg" alt="musican-icon" width="400" class="img-fluid rounded"></a>
                    <p class="text-center">With Casting Crowns <br>
                    Friday, Novemeber 3, 2023 & Saturday, November 4, 2023 <br>
                    At 6pm - 7pm</p><br><br>
                </div>

                <div class="col">
                    <a class="navbar-brand d-flex justify-content-center" href="event.html"><img src="./img-musicians-tryouts/passion-worship.jpg" alt="musican-icon" width="400" class="img-fluid rounded"></a>
                    <p class="text-center">With Passion Worship <br>
                    Thursday, December 21, 2023 & Friday, December 22, 2023 <br> 
                    At 6pm - 7pm </p><br><br>
                </div>
            </div>
        </div>
    </main>
    
<%- include('./partials/footer.ejs') %>