<!-- Landing page for web application -->

<%- include('./partials/header.ejs')%>
  
    <main>
        <div class="index-main-margin" id="index-main-margin">
            <h1>Welcome to Musicians Meetup</h1><br>

            <img src="../images/img-musician-meetup/musicians-meetup.jpg" alt="musician-meet-up" width="500" class="img-fluid"><br><br>

            <p>Your new community is waiting for you. People have chosen Musicians Meetup to make real connections over shared interests. There are more than a thousand people on Musicians Meetup looking to gather over shared interests and hobbies, build professional networks, or just have some fun..</p><br>

            <p>Check out the Events section to browse available eventlist!</p>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>