/* Front size for navbar */
header nav ul li a{
    font-weight: bold;
}

/* Color for body on all pages */
body {
    background-color: lightcyan;
}

/* Font size for breadcrumb*/
body header nav ol li a{
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 25px;
}

/* Homepage header/paragraph */
.index-main-margin, .event-main-margin{

    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 15%;
}

/* New Event Form margin */
.form-margin{
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 25%;
}


/*** Footers CSS ***/
/* Reference: https://www.youtube.com/watch?v=nkZz9DOBzBI by FineGap */
/*style for all footers*/

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* footerNav */
.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: black;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5a;
}

.footerNav ul li a:hover{
    opacity: 0.1;
}

/* footerCopy */
.footerCopy {
    padding: 35px;
    text-align: center;
}

/* social Icons */
.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 25px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

/* Hover Effects on Social Media Icons */
.socialIcons a:hover {
    background-color: lightskyblue;
    transition: 0.5s;
}

/* For Facebook Icon */
.socialIcons a:nth-child(1){
    background: #466cb9;
}

.socialIcons a:nth-child(1):hover{
    color: #466cb9;
    background: lightskyblue;
}

/* For Instagram Icon */
.socialIcons a:nth-child(2){
    background: #dd306a;
}

.socialIcons a:nth-child(2):hover{
    color: #dd306a;
    background: lightskyblue;
}

/* For Twitter Icon */
.socialIcons a:nth-child(3){
    background: #1e9fef;
}

.socialIcons a:nth-child(3):hover{
    color: #1e9fef;
    background: lightskyblue;
}

/* For Youtube Icon */
.socialIcons a:nth-child(4){
    background: #ff0101;
}

.socialIcons a:nth-child(4):hover{
    color: #ff0101;
    background: lightskyblue;
}

/* Makes footer stick to the bottom */
.sticky-footer{
    position: sticky;
    top: 100%;
}

body {
    min-height: 100vh;
}

/* Edit and Delete buttons in profile.ejs */
.btn-action {
    width: 70px;
}


/* Style for table in the profile.ejs */
.table-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25px; 
    background-color: #f8f9fa; /* Table's background color */
    line-height: .8;
}

.table {
    width: 100%;
}

.table-container a.navbar-brand p {
    color: #000; /* Set the title text color to black */
    
}

/* Responsive table styles */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Media query that applies the contained styles only when the maximum width of the viewport is 767px or less */
/* Targets smaller screens (e.g. mobie & tablet divices */
@media (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

